body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.carrito-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.producto:last-child {
    border-bottom: none; /* Elimina la línea en el último producto */
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.vaciar-carrito {
    background-color: #dc3545; /* Rojo para el botón de vaciar */
}

.vaciar-carrito:hover {
    background-color: #c82333;
}

h2, h3 {
    color: #333;
}

h3 {
    margin-top: 20px;
}

p {
    margin: 5px 0;
}
